Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
.idea
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# Personal settings files for the project
*.DotSettings.user

# RiderLink
/Plugins/Developer/RiderLink

# Ignored Raw Assets
/Assets/Ignored
